<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="header(user)">
    <div id="row-header">
        <img th:src="@{/images/루피밥.jpeg}" height="45px">
        <span th:text="|${user}회원님 환영합니다.|"></span>
        <a th:href="@{/board/showAll}" th:text="'글 목록'"></a>
        <a th:href="@{/board/write}" th:text="'글 작성하기'"></a>
        <a th:href="@{/user/logOut}" th:text="'로그아웃'"></a>
    </div>
</div>
<div th:fragment="footer">
    <div class="row"
         style="height: 100px; background-color: black; text-align: center; font-size: medium; color: white">
        <span>조재영이 만듦</span>
    </div>
</div>
</body>
</html>